:root {
  --black: #1c1c1c;
  --black-95: rgba(55, 55, 55, 0.95);
  --black-70: rgba(55, 55, 55, 0.7);
  --dark: #343434;
  --white: #ffffff;
  --green: #2ecc71;
  --red: #f10000;
}

html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--black);
}

header {
  width: 100%;
  height: 65px;
  top: 0px;
  left: 0px;
  right: 0;
  background-color: var(--black-70);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 10;
}
header img {
  width: 27px;
  height: 17px;
  margin-left: 22px;
  justify-self: flex-start;
  z-index: 10;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  justify-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-block-start: 0;
  margin-block-end: 0;
}
h2 + p {
  margin-top: 20px;
}
h3 + p {
  margin-top: 5px;
}
p + p {
  margin-top: 20px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: var(--black-95);
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 100;
}
.menu img {
  width: 20px;
  height: 20px;
  top: 25px;
  left: 25px;
  position: fixed;
  display: block;
}
.menu ul li {
  font-size: 24px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  text-align: center;
}
.menu ul li.active {
  color: var(--green);
}

/* WALLPAPERS */
.wallpapers {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: none; */
}
.wallpapers .preview {
  height: calc(50vw * 1.75);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* WALLPAPER */
.wallpaper {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.wallpaper a {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  padding: 27px 80px;
  background-color: var(--green);
  border-radius: 43px;
  position: fixed;
}

/* FORECASTS */
.forecasts {
  width: 100%;
  height: auto;
  position: relative;
  display: none;
}
.forecasts ul {
  padding: 90px 22px;
}
.forecasts ul li {
  padding: 15px 22px;
  background-color: var(--dark);
  border-radius: 25px;
  position: relative;
}
.forecasts ul li + li {
  margin-top: 30px;
}
.forecasts ul li .label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.forecasts ul li p + .label {
  margin-top: 7px;
}
.forecasts ul li .label span {
  font-size: 10px;
  color: var(--red);
  line-height: 1;
  margin-right: 5px;
  text-transform: uppercase;
}
.forecasts ul li .label img {
  width: 10px;
  height: 11px;
}

/* FORECAST */
.forecast {
  padding: 90px 22px;
  display: none;
}

/* ABOUT */
.about {
  padding: 90px 22px;
  display: none;
}
